.heading {
  color: #3a1ea0;
  font-family: "Courier New", Courier, monospace;
}
.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: end;
}
.form label {
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding-right: 5px;
  font-family: "Courier New", Courier, monospace;
}
.form input {
  height: 20px;
}
.form button {
  width: 130px;
  height: 28px;
  background-color: palegreen;
  border-color: aquamarine;
}
.main-container {
  text-align: center;
}
.main-container label {
  text-align: left;
  padding-left: 10px;
}
.contactList {
  display: inline-block;
}
table {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 500px;
  text-align: center;
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
